
.home{
	top:20px;
	left: 20px;
	width: 40px;
	height: 40px;
	position: fixed;
	background-image: url("../img/home.png");
	background-size: contain;
}
.bandeau ~ .home{
	top:45px;
}
body{
	background-image: url("../img/back.png");
}
.connect form {
  display: inline;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
.connect.fail form{
	border-color: red;
	background-color: rgba(255,0,0,0.2);
}
.connect input {
  margin-bottom: 5px;
  transform: translate(-50%);
  /*! position: absolute; */
  margin-left: 50%;
}
.connect {
  position: relative;
}
td,th{
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
td:last-child,th:last-child{
	border-right: 1px solid black;
}
tr:last-child td, th{
	border-bottom: 1px solid black;
}
tr:first-child td{
	border:none;
}
td input{
	text-align: center;
}
td:first-child input{
	text-align: right;
}
td:nth-child(2) input{
	text-align: left;
}
table {
}
td input[disabled]{
	background-color: unset;
	color: black;
	border-radius: 0;
	border:none;
	padding: 0;
}
.action{
	width: 200px;
}
.bandeau{
	text-align: center;
	font-weight: bold;
	color:white;
}
.info{
	background-color: darkblue;
}
.error{
	background-color: darkred;
}
button,input[type=button]{
	width: calc(50% - 2.5px);
	float:left;
	color:white;
	cursor: pointer;
	text-align: center;
}
.action button{
	width: calc(50% - 2.5px);
}
.delete{
	width: 100%;
	background-color: darkred;
}
.edit{
	background-color: darkblue;
	margin-right: 5px;
}
.reload{
	background-color: grey;
}
.add{
	background-color: darkgreen;
	margin-right: 5px;
}
h1{
	text-align: center;
}
img{
	width: 100px;
	height: 150px;
	background-color: grey;
	display: block;
}