<div class="connect">
	<form method="post">
		<span>Where do you want to go</span><br>
		<input onclick="window.location='vue/listRequete.php'"type="button" value="Liste des requetes" name="" class="info">
		<input onclick="window.location='vue/listVIP.php'"type="button" value="Liste des VIP" name="" class="info">
		<input onclick="this.parentElement.submit()"type="button" value="logout" name="" class="error">
		<input type="hidden" name="logout">
	</form>
</div>